
/* Le bg */
body {
	margin:0;
	background-image: url("Img/bg.jpg");
	background-size: cover;
	background-attachment: fixed;
}

h3 {
	text-transform: uppercase;
	font-family: Bitter;
	font-size:18px;
}

p{
	font-family: Bitter;
	font-size: 14px;
	color:#7a7a7a;
}

#container {
	background-color: #FFF;
    width: 1020px;
    height: 1400px;
    margin: 0 auto;
}

#header {
	margin: 0;
	width: 1020px;
	background-color: black;
}
/* Le menu */
.nav { /* Le menu */
	text-align: center;
	width: 1020px;
	height: 60px;
}
.nav ul li{
	display: inline-block;
}
.nav ul{
	margin: 0;
	padding-top: 16px;
	padding-left: 0;
}
.nav li {
	display: inline;
	list-style: none;
}

.nav li a{ /* j'ai simplifié ici et apporter des modifs à cause du margin du body qu'on avais pas imposer*/
	font-family: Josefin Sans;
	font-weight: 400;
	color: white;
	text-decoration: none;
	padding: 0px 16px;
}
/*.nav li a {
	font-family: Josefin Sans;
	color: white;
	text-decoration: none;
	margin-left: 60px;
	margin-bottom: 20px;
	margin-top: 20px;
	padding-top: 20px;
}
*/
.nav li a:hover {
	color: #CFA205;
}


#content{
	margin:0px 60px 0px 60px;
	width:900px;

}
.slogan{
	padding-top:  40px;
	padding-bottom: 40px;
	width: 900px;
	height: 90px;
}

.slogan p{
	font-size: 16px;
	font-family: Bitter;
	color: #7a7a7a;
	text-align: center;
}

.posts{
	padding-top: 60px;
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: #e8e8e8;
}

.posts{
	float:none;
	position: relative;
	height: 675px;
	width: 900px;
}

.post1{
	margin-right: 30px;
	margin-left: auto;
	width: 260px;
	float:left;
}

.post2{
	margin-right: 30px;
	margin-left: 30px;
	width: 260px;
	float:left;
}

.post3{
	margin-right: auto;
	margin-left: 30px;
	width: 260px;
	float:left;
}


/* Le titre et sous-titre */
.banniere { /*bloc d'ensemble dans lequel le titre et la description resterons emprisonner*/
	width: 1020px;
	height: 320px;
}
.title{
	padding: 60px 0px 50px 0;
}
.title h1 {
	margin: 0;
	color: #CFA205;
	font-size: 133px;
	font-weight: 400;/*Pour rendre la police moins épaisse */
	text-align: center;
	font-family: Josefin Sans;
	text-decoration: none;
}

.description p {
	color: #CFA205;
	text-align: center;
	font-size: 18px;
}

/* La barre sociale */
.socialnet {
	width: 1020px;
	height: 60px;
	text-align: center;
	background-color: #E8E8E8;
}

.menusocial {
	padding:10px 0px;
}

.menusocial a {
	text-decoration: none;
}


.menusocial a img {
	margin-left: 5px; /*j'ai remplacé le padding par le margin, pour bien dissocier les liens de chaque icône*/
	margin-right: 5px;
