
/* Le bg */
body {
	background-image: url("Img/bg.jpg");
	background-size: cover;
	background-position: fixed;
}


#container {
	background-color: #FFF;
    width: 1020px;
    height: 1400px;
    margin: auto;
}


/* Le menu */
.nav {
	width: 1020px;
	height: 60px;
	background-color: black;
}

.nav li {
	display: inline;
	list-style: none;
}
.nav li a {
	font-family: Josefin Sans;
	color: white;
	text-decoration: none;
	margin-left: 60px;
	margin-bottom: 20px;
	margin-top: 20px;
	padding-top: 20px;
}

.nav li a:hover {
	color: #CFA205;
}


#content{
	
	width:900px;
	height:auto;
}
.slogan{
	width: 900px;
	height: 90px;
}

.slogan p{
	font-size: 16px;
	font-family: Bitter;
	color: #7a7a7a;
	text-align: center;
}

.posts{
	float:none;
	position: relative;
	height: 675px;
	width: 900px;
}

.post1{
	margin-right: 20px;
	margin-left: 20px;
	width: 260px;
	float:left;
}

.post2{
	margin-right: 20px;
	margin-left: 20px;
	width: 260px;
	float:left;
}

.post3{
	margin-right: 20px;
	margin-left: 20px;
	width: 260px;
	float:left;
}


/* Le titre et sous-titre */
.title {
	width: 1020px;
	height: 320px;
	background-color: black;
}
.title h1 {
	color: #CFA205;
	font-size: 133px;
	text-align: center;
}

.title p {
	color: #CFA205;
	text-align: center;
}


/* La barre sociale */
.socialnet {
	width: 1020px;
	height: 60px;
	background-color: #E8E8E8;
}